body {
  background-color: lightblue;
}

.container {
  background-color: #f0f8ff;
  border-radius: 25px;
  border: 1px solid #ffefd5;
}

.title {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 500%;
  color: slategray;
}

.flavors {
  display: flex;
  justify-content: space-around;
  font-family: 'Quicksand', sans-serif;
}

.vanilla {
  color: #f3e5ab;
  background-color: blue;
}

img {
  width: 200px;
  height: 200px;
}